#my_popup {
    border-radius: 8px;
    background: white;
    padding: 20px;
    /*width: 80%;*/
}

#popup-buttons {
    width: 100%;
    margin-top: 10px;
}

#popup-buttons button{
    float: right;
    height: 30px;
    min-width: 60px;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 0 10px 0 10px;
}

#popup-buttons button.my_popup_close {
    background-color: #2d8fc7;
}

#popup-buttons button.my_popup_retry {
    background-color: #2d8fc7;
    margin-right: 10px;
    display: none;
}

#popup-content {
    font-size: 16px;
    line-height: 1.5em;
    width: 100%;
}

#popup-content > div {
    margin-bottom: 2%;
}

#popup-content div.sub-msg {
    margin-left: 5%;
    font-style: italic;
}

#popup-title-container {
    margin-bottom: 10px;
}

#popup-title {
    font-size: 20px;
    line-height: 1.5em;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
}

#popup-subtitle {
    font-size: 16px;
    text-align: center;
}

.syncReport span.icon {
    margin-right: 10px;
}

.syncReport.apps .warnings .subtext {
    font-style: italic;
}


